<nav class="registry-navbar">
	<div class="container">
		<div class="row registry-header">
			<div class="col-xs-6 pull-left">
				<h3 class="logo-contafacil">
					Conta<strong>fácil</strong>
				</h3>
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row row-centered registry-step-header">
		<div class="col-xs-8 text-left col-centered">
			<h2 class="registry-title">
				Paso 2 de 3: Crea tus cuentas
			</h2>
		</div>
	</div>
	<!-- END registry-step-header -->
	<div class="row row-centered">
		<div class="col-xs-8 col-centered">
			
			<ul id="accounts-registry-tab-pane" class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#all" data-toggle="tab">Todos</a></li>
			  <li><a href="#assets" data-toggle="tab">Activos</a></li>
			  <li><a href="#liabilities" data-toggle="tab">Pasivos</a></li>
			  <li><a href="#equity" data-toggle="tab">Patrimonio</a></li>
			</ul>
			<div id="accounts-registry-tab-content" class="tab-content">
		        <div class="tab-pane active" id="all">
		            <h1>Red</h1>
		            <p>red red red red red red</p>
		        </div>
		        <div class="tab-pane" id="assets">
		            <h1>Orange</h1>
		            <p>orange orange orange orange orange</p>
		        </div>
		        <div class="tab-pane" id="liabilities">
		            <h1>Yellow</h1>
		            <p>yellow yellow yellow yellow yellow</p>
		        </div>
		        <div class="tab-pane" id="equity">
		            <h1>Green</h1>
		            <p>green green green green green</p>
		        </div>
			</div>
		</div>
	</div>
</div>