// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* centered columns styles */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

.navbar h4 {
  color: rgb(255,255,255);
}

a.navbar-link {
  color: rgb(255,255,255);
  font-size: 18px;
  font-weight: bold;
}

a.navbar-link:hover {
  background-color: transparent !important; 
}

h1.header {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 70px;
  padding-top: 100px;
  text-align: center;
}

h2.sub-header {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: rgb(200,200,200);
}

div.main {
  background-image:url('home.jpg');
  min-height:600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.what-is-container p {
  font-size:20px;
}

.benefits-container {
  background-color:rgb(33, 51, 56);
  color:rgb(255,255,255);
}

.benefits-container p{
  font-size:17px;
}

section h2 {
  font-size:xx-large;
}

.brand {
    color: white;
    font: 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    @media (min-width: $screen-md-min) { font-size: 25px; }
}

/* form style */

.wrapper {
    /*background: #F00;*/
    width: 1000px;
    margin: 6em auto;
}
form {
    width: 500px;
    margin: 0 auto;
}
input {
    color: #848484;
    /*padding: 1em;*/
    line-height: 60px;
    width: 220px;
    margin: 0 auto;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #c6c6c6;
}
input:focus {
    border: 2px solid #84c51f;
}
::-webkit-input-placeholder {
    color: #d8d8d8;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #d8d8d8;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #d8d8d8;
}
:-ms-input-placeholder {
    color: #d8d8d8;
}